<h1>マイページ</h1>

<div class="row">
  <div class="col-md-4">
    <%= gravatar_for @user %>
    <%= @user.name %>
    <p class="link"><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  </div>

</div>
