@import "bootstrap-sprockets";
@import "bootstrap";


html {
  position:relative;
  min-height: 100%;
}
body {

  padding-top: 60px;
  font-family: serif;
  background-color: #FFDBC9;

}

.container {
  width: auto;
}

h1 {
  padding-top: 15px;
  line-height: normal;
  text-align: center;
}


#logo {
 float: left;

 margin-right: 10px;
 font-size: 2.0em;
 color: #FF5F17;
 text-transform: uppercase;
 padding-top: 15px;
 font-family: cursive;
 text-shadow: 2px 2px 2px #000;

}


input, textarea{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

#error-messages {
  color: red;
}

footer {
position:absolute;
bottom: 0;
width: 100%;
height: 60px;
}

small {
  text-align: center;
  color: white;
}

ul {
  list-style: none;
  float: right;
  margin-right: 5px;
  li {
    float: left;
    margin-left: 15px;
  }
}

 .jumbotron-extend {
   height: 100vh;
   background: url(family.jpg) no-repeat center center;
   background-size: cover;
   color: #FF5F17;
 }

 .gravatar {
   margin-left: 15px;
 }
