@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



body {
  padding-top: 60px;
  font-family: serif;
}

.container {
  width: auto;
}

h1 {
  padding-top: 15px;
  line-height: normal;
  text-align: center;
}


#logo {
 float: left;
 margin-right: 10px;
 font-size: 2.0em;
 color: #FF5F17;
 text-transform: uppercase;
 padding-top: 15px;
 font-family: cursive;
}


input, textarea{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

#error-messages {
  color: red;
}

footer {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #000;
  height: 60px;
  a {
    color: #FF5F17;
    &:hover {
      color: blue;
    }
  }
  ul {
    list-style: none;
    float: right;
    padding-right: 5px;
    li {
      float:left;
      margin-left: 15px;
    }
  }
}

.jumbotron-extend {
   height: 100vh;
   background: url(family.jpg) no-repeat center center;
   background-size: cover;
   color: #FF5F17;
 }

 .gravatar {
   margin-left: 15px;
   margin-right: 15px;
 }

 .users {
  list-style: none;
  li {
    padding: 10px 0;
  }
}

.link {
  margin-top: 10px;
}
