<footer class="footer">
  <small>
    <p>作成者. 水野涼太</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "トップ", "#" %></li>
      <li><%= link_to "お問い合わせ", "#" %></li>
      <li><%= link_to "ヘルプ", "#" %></li>
    </ul>
  </nav>
</footer>
