
    <footer class="footer navbar-inverse">
      <nav>
        <ul class="text-muted">
          <li><%= link_to "トップ", root_path %></li>
          <li><%= link_to "お問い合わせ", contact_path %></li>
          <li><%= link_to "ヘルプ", help_path %></li>
        </ul>
      </nav>
    </footer>
