<footer class="footer navbar-inverse">
  <div class="container">
    <small>
      <p>作成者.　水野涼太</p>
    </small>
    <nav>
      <ul class="text-muted">
        <li><%= link_to "トップ", root_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
        <li><%= link_to "ヘルプ", help_path %></li>
      </ul>
    </nav>
  </div>
</footer>
