<header class="navvar navvar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Family App", "#",  id: "logo"  %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ログイン", "#" %></li>
        <li><%= link_to "ヘルプ", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
